<div class="pagination-container">
  <button
    class="pagination-arrow"
    [disabled]="currentPage === 1"
    (click)="changePage(currentPage - 1)"
  >
  Previous
  </button>

  <button
    class="pagination-page colo"
    *ngFor="let page of visiblePages"
    [class.active]="currentPage === page"
    (click)="changePage(page)"
  >
    {{ page }}
  </button>

  <button
    class="pagination-arrow"
    [disabled]="currentPage === totalPages"
    (click)="changePage(currentPage + 1)"
  >
    Next
  </button>
</div>
